PORT=3000
SITE_URL=https://seu-dominio.com
JWT_SECRET=@Vida9577
ADMIN_USER=admin
ADMIN_PASSWORD=@Vida9577
ADMIN_VERIFY_CODE=1234
ENCURTANET_API_URL=https://encurta.net/api/
ENCURTANET_API_TOKEN=6b9c0bcdd297d0ae311ef42053351d636a81f76b
ENCURTANET_TYPE=default
ENCURTANET_TIMEOUT_MS=12000
